body{
    color: magenta;
    background: khaki;
}
header{
    border-bottom: solid 2px rgb(rgb(98, 10, 10));
    padding: 20px;
    font-size: 32px;
    color: black;
    background: chartreuse;
}
.chamada{
    background: bisque;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}